
#res{
    background-color: blue;
}

#LL{
    text-align: center;
    color:tan;

}
#TT{
    
}

.danger{
    padding: 5px;
    border-radius: 5px;
    color: aqua;
    background-color: black;
}
.form-control{
    margin: 0 !important;
}