.dashboradItemWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    

}

.dashboradItem{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(90, 31, 31);
    padding: 13px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    border-radius:10px ;
}

.dashboradItem p {
    margin-top: 10px;
}

a {
    color: black !important;
}

.btnBorrow{
    background-color: #535C58;
    color: #fff;
    padding: 3px 15px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    margin-top: 20px;
    margin-left: 15px;
}   