.logoutBtn{
        background-color: #535C58;
        color: #fff;
        padding: 15px 60px;
        border-radius: 10px;
        font-size: 15px;
        line-height: 14px;
        letter-spacing: 1px;
        border: none;
        margin-top:25px ;
        text-transform: uppercase;
        line-height: 14px;
        letter-spacing: 1px;
    }

.logo{
    width: 200px;
}
.containerNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.searchWrapper {
    position: relative;
    width: 700px;
    margin-top:25px ;
}
.searchWrapper input {
  background-color:rgba(0,0,0,0.2);
  width: 100%;
  padding: 7px 50px;
border-radius: 20px;
  border: none;
 outline: none;

}

.searchWrapper i {
    position: absolute;
    top: 12px;
    left: 10px;
}

.navigationWrapper {
    background-color: #DFDFDF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.navigationItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
}
.navigationWrapper .navLink{
 text-decoration:none;
 color: black;
 margin-top: 5px;
}

.navigationWrapper .navLink:hover{
    color:brown;
}
 

